@{
    ViewData["Title"] = "Movie Lookup";
}

<h2>Movie Lookup</h2>
<h4>Search for a movie:</h4>
<form id='search_form'>
    <input type='text' name='mSearch' id='mSearch'>
    <button type='submit' id='search'>Lookup</button>       
</form>
<div class="Info">
</div>